<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.care.coffee.shop.IKakaoPayMapper">
	<insert id="tidSetting">
		INSERT INTO test_info (tid) VALUES (#{tid})
	</insert>
	
	<select id="tidGetting">
		SELECT tid FROM test_info WHERE partner_order_id=1
	</select>
</mapper>